/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-white: #FFF;
    --clr-accent: #F18119;
    --clr-black: #404040;
    --gap-sm: 1em;
    --gap-med: 2em;
    --gap-lg: 4em;
}

/* ---------- UTILITY CLASSES ----------*/
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accent-txt {
    color: var(--clr-accent);
}

.uppercase {
    text-transform: uppercase;
}

.gap {
    margin-bottom: 2.5em;
}

/* ---------- RESET ----------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, em, img, strong, b, u, i, center,
fieldset, form, label, legend,
article, aside, footer, header, nav, output, ruby, section, summary,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: clamp(1rem, 0.9063rem + 0.4167vw, 1.125rem);
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    color: var(--clr-black);
    background-color: var(--clr-white);
}

/* ---------- TYPOGRAPHY ----------*/
.site-title {
    font-size: clamp(2.25rem, 1.3125rem + 4.1667vw, 3.5rem);
    text-align: center;
    line-height: 1;
    color: var(--clr-white);
}

.hero > h2,
.form-title {
    font-size: clamp(1.3125rem, 0.9844rem + 1.4583vw, 1.75rem);
}

.form > p {
    max-width: 30ch;
}

.emphasis,
.hero-cta,
.deco-text,
.form-title,
.form-cta {
    font-weight: 900;
    letter-spacing: 1.3px;
}

.border-gradient {
    border-top: .35rem solid var(--clr-accent);
    border-image: linear-gradient(to right, #F18119, #DF4E13) 1;
}

.small,
.deco-txt {
    font-size: .625rem;
    letter-spacing: 1px;
}

.congrats {
    margin-bottom: 1em;
    font-size: clamp(2.25rem, 1.3125rem + 4.1667vw, 3.5rem);
    line-height: 1;
    background: linear-gradient(45deg, #FF895D 20%, #FF713B 50%, #F18119, #DF4E13);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* ---------- LAYOUT ----------*/
.container {
    width: 100%;
    height: 100vh;
}

.hero {
    position: relative;
    display: flex;
    flex: 2 1 50%;
    justify-content: space-between;
    margin-bottom: var(--gap-lg);
    background-color: var(--clr-black);
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

.img-transparency {
    width: 100%;
    background-color: #40404099;
}

.deco-text,
.site-title,
.hero-cta {
    margin: 0;
    padding: 0;
}

.site-title {
    padding: var(--gap-sm) var(--gap-sm) 0 var(--gap-sm);
}

.site-title,
.deco-txt,
.hero-cta {
    padding-bottom: var(--gap-med);
}

.deco-txt {
    order: -1;
}

.hero-spacing {
    flex: 1 1 50%;
    justify-content: space-between;
    /* order: -2; */
}

.form {
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
}

.form-cta {
    margin-bottom: var(--gap-med);
}

.copy,
form > * {
    margin-bottom: var(--gap-sm);
}

.small {
    margin-bottom: var(--gap-lg);
}


/* ---------- COMPONENTS ----------*/
input[type=text] {
    display: flex;
    width: 50vw;
    padding: .75em;
    border-color: #40404066;
    border-radius: 1em;
    text-align: center;
    transform: 500ms ease-in-out;
}

input[type=text]:focus {
    font-weight: 900;
    color: #922200;
    background-color: #4040400D;
    box-shadow: 1px 1px 7px #F18119CC;
    outline: none;
}

input[type=text]:focus,
.cta-btn:focus,
.cta-btn:hover {
    padding: .45em;
    font-size: clamp(1.1rem, 1.0738rem + 0.1167vw, 1.135rem);
    border-radius: .5em;
    transform: perspective(2000px);
}

button {
    /* display: block; */
    width: 50vw;
    padding: .75em 1em;
    margin-inline: auto;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

.cta-btn {
    letter-spacing: 1.8px;
    color: var(--clr-white);
    background-image: linear-gradient(to right, #FFA51D, #DF4E13);
    transition: 500ms ease-in-out;
}

.cta-btn:focus,
.cta-btn:hover {
    background-image: linear-gradient(to right, #DF4E13, #FFA51D);
    color: var(--clr-black);
    box-shadow: 1px 1px 9px #40404099;
}
/* ---------- MEDIA QUERIES ----------*/
@media (min-width: 800px) {
    .desktop-flex {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
    }
    .hero,
    .form {
        min-height: 100vh;
    }
    .img-transparency {
        height: 100%;
    }
    .hero-spacing {
        justify-content: center;
    }
    input[type=text],
    button,
    .form > p {
        max-width: 250px;
    }

    /* form {
        max-width: 3em;
        margin-inline: auto;
    } */
}
